In [1]:
import pandas as pd
religion = pd.read_csv('ReligionAndMasterData.csv', low_memory=False)
master = pd.read_csv('master_data.csv', low_memory=False)
master

,Unnamed: 0,article_id,length,start_date_lb,start_date,end_date_lb,end_date,e_ed,name,fname,...,mo_date_start,mo_date_end,fa_date_start,fa_date_end,wealth_sym,wealth_value,wealth_date,wealth_src,con_id,con_name
0,0,59597,785,-4000000,4 million,-3999960,NaN,4,Piltdown Man,Kenneth Page,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41819,Chris Stringer
1,1,106753,3037,-33000,33000,-32960,NaN,14c,Red Lady of Paviland,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56550,Marianne Sommer
2,2,9312,492,-385,NaN,-305,305,4,Fergus,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30008,Henry Summerson
3,3,57616,629,-300,4th,-260,NaN,4,Pytheas,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35769,Nicholas Purcell
4,4,15873,328,-300,300,-260,NaN,4,Legaire,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32006,Edel Bhreathnach
5,5,48304,2164,-100,100,-44,44,4,Caesar,Gaius,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31116,T. P. Wiseman
6,6,6030,712,-57,57,-50,50,4,Commius,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31105,Malcolm Todd
7,7,4863,807,-54,54,-14,NaN,4,Cassivellaunus,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31107,F. H. Thompson
8,8,6939,766,-40,NaN,40,40,09c,Cunobelinus,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31105,Malcolm Todd
9,9,48296,548,-28,NaN,52,52,4,Ostorius Scapula,Publius,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31113,A. R. Birley
10,10,2732,1203,-20,NaN,60,60,4,Boudicca,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31104,T. W. Potter
11,11,41192,1275,-11,NaN,69,69,07b,Cartimandua,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31106,David Braund
12,12,48281,2099,-10,10,54,54,06b,Claudius,Tiberius,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31104,T. W. Potter
13,13,68196,3459,0,1st,2000,21st,12b,Britannia,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45020,Virginia Hewitt
14,14,60305,2808,0,1st,40,NaN,4,Andrew,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32163,Ursula Hall
15,15,59548,675,0,1st,40,NaN,4,Lindow Man,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35799,Rick Turner
16,16,48303,824,13,NaN,93,93,4,Vettius Bolanus,Marcus,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31113,A. R. Birley
17,17,48292,926,23,NaN,103,103,4,Julius Frontinus,Sextus,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31113,A. R. Birley
18,18,48298,893,29,29,57,57,4,Plautius,Aulus,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31113,A. R. Birley
19,19,48290,2881,40,40,93,93,4,Julius Agricola,Gnaeus,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31105,Malcolm Todd
20,20,48301,1092,40,40,69,69,06b,Suetonius Paullinus,Gaius,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31113,A. R. Birley
21,21,4601,995,40,40,51,51,4,Caratacus,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31105,Malcolm Todd
22,22,48282,777,47,47,70,70,4,Cogidubnus,Tiberius,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31105,Malcolm Todd
23,23,48306,613,51,51,71,71,4,Venutius,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31117,Brian Dobson
24,24,48297,1128,60,60,74,74,4,Petillius Cerialis,Quintus,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31113,A. R. Birley
25,25,48291,599,60,60,100,NaN,4,Julius Classicianus,Gaius,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31113,A. R. Birley
26,26,48289,1836,76,76,138,138,4,Hadrian,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31105,Malcolm Todd
27,27,6080,702,77,NaN,157,157,15a,Conn,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1934,Philip Irwin
28,28,10300,454,83,83,123,NaN,4,Calgacus,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31500,G. S. Maxwell
29,29,48279,967,86,86,161,161,4,Antoninus Pius,Titus,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31103,David J. Breeze
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53837,53837,102844,1228,1959,1959,2010,2010,15a,Holmes,Andrew Jeremy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42706,Christopher Dodd
53838,53838,75258,1532,1960,1960,2001,2001,07c,Raphael,Sarah Natasha,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53862,William Boyd
53839,53839,72971,1100,1960,1960,1991,1991,4,Sinnott,William Veitch,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42759,John McManus
53840,53840,68151,1343,1961,1961,1994,1994,4,Bowery,Leigh,...,NaN,1994.0,NaN,NaN,NaN,NaN,NaN,NaN,38912,Meg Russell
53841,53841,72157,981,1961,1961,1999,1999,09a,Dando,Jill Wendy,...,1927.0,1986.0,NaN,NaN,NaN,1181207,1999,administration,46914,Nick Ross
53842,53842,60676,1345,1961,1961,1990,1990,4,Dunbar,Andrea,...,NaN,NaN,1936.0,1989.0,NaN,NaN,NaN,NaN,800,John A. Hargreaves
53843,53843,68348,7162,1961,1961,1997,1997,14a,Diana,Diana Frances,...,NaN,NaN,NaN,NaN,NaN,21468352,NaN,NaN,30007,K. D. Reynolds
53844,53844,69573,828,1961,1961,1998,1998,4,Rodney,Donald Gladstone,...,NaN,NaN,NaN,1995.0,NaN,180000,3/26/99 0:00,administration,44639,Pauline de Souza
53845,53845,101540,1171,1961,1961,2009,2009,13b,Chapman,Nicola Jane,...,1936.0,1989.0,NaN,NaN,NaN,NaN,NaN,NaN,34858,Philip Carter
53846,53846,100802,834,1961,1961,2009,2009,13a,Ledger,Sally,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1463,Isobel Armstrong
53847,53847,103651,1818,1961,1961,2011,2011,15a,Milton,Simon Henry,...,NaN,NaN,1923.0,1997.0,NaN,NaN,NaN,NaN,56809,Dean Godson
53848,53848,92846,1397,1962,1962,2003,2003,13c,Hislop,Robert Steven,...,NaN,NaN,1936.0,1979.0,NaN,NaN,NaN,NaN,2002,S. A. Skinner
53849,53849,58208,1258,1962,1962,1995,1995,06b,Hargreaves,Alison Jane,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32166,Peter H. Hansen
53850,53850,100756,867,1962,1962,2006,2006,10a,Litvinenko,Aleksandr Valterovich,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55340,Mark Galeotti
53851,53851,73205,539,1962,1962,1994,1994,06b,Butt,Hamad Masood,...,NaN,NaN,NaN,NaN,NaN,125000,5/23/95 0:00,probate,44639,Pauline de Souza
53852,53852,92625,858,1963,1963,2003,2003,08b,Chilcott,Susan,...,NaN,NaN,NaN,NaN,NaN,234000,12/16/03 0:00,probate,39979,Elizabeth Forbes
53853,53853,76874,803,1963,1963,2002,2002,06c,Blake,(Robert) Andrew,...,NaN,NaN,NaN,NaN,NaN,244293,11/18/02 0:00,probate,51867,Mark Matfield
53854,53854,73110,813,1963,1963,1999,1999,4,Zavaroni,Lena Hilda,...,NaN,1989.0,NaN,NaN,NaN,NaN,NaN,NaN,30102,John Van der Kiste
53855,53855,102176,917,1963,1963,2009,2009,13a,Richardson,Natasha Jane,...,NaN,NaN,1939.0,2010.0,NaN,NaN,NaN,NaN,56237,Melanie Williams
53856,53856,99119,1248,1964,1964,2007,2007,11a,Tomlinson,Jane Emily,...,NaN,NaN,1932.0,1990.0,NaN,19000,10/27/08 0:00,probate,800,John A. Hargreaves
53857,53857,99102,936,1968,1968,2007,2007,13b,McRae,Colin Steele,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30770,David Thoms
53858,53858,103027,2745,1969,1969,2010,2010,14c,McQueen,Lee Alexander,...,1934.0,2010.0,NaN,NaN,NaN,16036500,7/22/11 0:00,probate,56445,Kristin Knox
53859,53859,103791,1253,1970,1970,2011,2011,15a,Hetherington,Timothy Alastair Telemachus,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34858,Philip Carter
53860,53860,71980,853,1971,1971,1999,1999,06b,Kane,Sarah Marie,...,NaN,NaN,NaN,NaN,NaN,200000,5/18/99 0:00,administration,46576,Aleks Sierz
53861,53861,70172,1356,1971,1971,1979,1979,12b,Nolan,Anthony Edward,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,848,Elizabeth Baigent
53862,53862,96201,804,1971,1971,2005,2005,09a,Burns,Richard Alexander,...,NaN,NaN,NaN,NaN,NaN,1419228,8/14/06 0:00,probate,30770,David Thoms
53863,53863,70292,1278,1974,1974,1993,1993,12b,Lawrence,Stephen Adrian,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,740,Richard Davenport-Hines
53864,53864,101740,1776,1981,1981,2009,2009,13a,Goody,Jade Cerisa Lorraine,...,NaN,NaN,1963.0,2005.0,NaN,394692,11/25/11 0:00,probate,657,Lawrence Goldman
53865,53865,103991,1631,1983,1983,2011,2011,15a,Winehouse,Amy Jade,...,NaN,NaN,NaN,NaN,NaN,2994554,3/23/12 0:00,administration,56623,Chloe Govan
53866,53866,76074,734,1990,1990,1993,1993,4,Bulger,James Patrick,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,740,Richard Davenport-Hines

In [8]:
new = religion[['article_id','Faith','Denom Group','Denom']].copy()

In [10]:
result = pd.merge(master, new, how='left', on=['article_id'])

In [15]:
result.columns.values

array(['Unnamed: 0', 'article_id', 'length', 'start_date_lb', 'start_date',
       'end_date_lb', 'end_date', 'e_ed', 'name', 'fname', 'gender',
       'baptized', 'married', 'occupation', 'unqiueForeignLocations',
       'uniqueDomesticLocations', 'unqiueNameCount',
       'International Ratio (Unique Foreign/Bio Length)', 'mo_occ',
       'fa_occ', 'faith', 'denom', 'revised?', 'start_date_ub',
       'end_date_ub', 'start_date_ad', 'start_date_bc', 'start_date_pf',
       'start_date_sf', 'start_date_sfun', 'start_date_ty', 'end_date_ad',
       'end_date_bc', 'end_date_pf', 'end_date_sf', 'end_date_sfun',
       'end_date_ty', 'fa_name', 'mo_name', 'mo_date_start', 'mo_date_end',
       'fa_date_start', 'fa_date_end', 'wealth_sym', 'wealth_value',
       'wealth_date', 'wealth_src', 'con_id', 'con_name', 'Faith',
       'Denom Group', 'Denom'], dtype=object)

In [18]:
result = result.drop(['faith', 'denom'],1)
result.columns.values

array(['Unnamed: 0', 'article_id', 'length', 'start_date_lb', 'start_date',
       'end_date_lb', 'end_date', 'e_ed', 'name', 'fname', 'gender',
       'baptized', 'married', 'occupation', 'unqiueForeignLocations',
       'uniqueDomesticLocations', 'unqiueNameCount',
       'International Ratio (Unique Foreign/Bio Length)', 'mo_occ',
       'fa_occ', 'revised?', 'start_date_ub', 'end_date_ub',
       'start_date_ad', 'start_date_bc', 'start_date_pf', 'start_date_sf',
       'start_date_sfun', 'start_date_ty', 'end_date_ad', 'end_date_bc',
       'end_date_pf', 'end_date_sf', 'end_date_sfun', 'end_date_ty',
       'fa_name', 'mo_name', 'mo_date_start', 'mo_date_end',
       'fa_date_start', 'fa_date_end', 'wealth_sym', 'wealth_value',
       'wealth_date', 'wealth_src', 'con_id', 'con_name', 'Faith',
       'Denom Group', 'Denom'], dtype=object)

In [19]:
result.to_csv("master_data_3_17.csv")